html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  font-size: 1.4rem;
  font-weight: 400;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./assets/image/background-left.svg"), url("./assets/image/background-right.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 40rem;
  background-position: left bottom, right bottom;
}